@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1d24;
  color: white;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.live-tracking-icon {
  background: transparent !important;
  border: none !important;
}

.custom-leaflet-icon {
  background: transparent !important;
  border: none !important;
}
